{% extends "base.html" %}
{% load crispy-form %}

{% block title %}دفتر تلفن{% endblock %}

{% block content %}
{% row "border-top pt-10" %}aaaaaaa
{% endrow %}

    <h1>Hello World!</h1>
    <p>Welcome to my first Django project!</p>
    <table>
        {% for x in PhoneBooks %}
        <tr>
            <td>{{ x.gender }}</td>
            <td>{{ x.name }}</td>
            <td>{{ x.organizationalUnit }}</td>
            <td>{{ x.floorUnit }}</td>
            <td>{{ x.organizationPhone }}</td>
            <td>{{ x.directPhone }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}