{% extends "base.html" %}
{% load crispy-form %}

{% block title %}دفتر تلفن{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        همکار عزیز، آقا/خانم {{ user.first_name }}!
        {% para %}{% link 'accounts/logout' %}logout{% endlink %}{% endpara %}
    {% else %}
{#        {% redirect('login") %}#}
        {% para %}{% link 'accounts/login' %}Log In{% endlink %}{% endpara %}
    {% endif %}

    {% row "border-top pt-10" %}
        {% col "border-top pt-10" %}نام و نام خانوادگی{% endcol %}
        {% col "border-top pt-10" %}واحد{% endcol %}
        {% col "border-top pt-10" %}طبقه{% endcol %}
        {% col "border-top pt-10" %}تلفن سازمان{% endcol %}
        {% col "border-top pt-10" %}تلفن مستقیم{% endcol %}
    {% endrow %}
    {% for x in PhoneBooks %}
        {% row "border-top pt-10" %}
            {% col "border-top pt-10" %}{{ x.gender }}&nbsp;{{ x.name }}{% endcol %}
            {% col "border-top pt-10" %}{{ x.organizationalUnit }}{% endcol %}
            {% col "border-top pt-10" %}{{ x.floorUnit }}{% endcol %}
            {% col "border-top pt-10" %}{{ x.organizationPhone }}{% endcol %}
            {% col "border-top pt-10" %}{{ x.directPhone }}{% endcol %}
        {% endrow %}
    {% endfor %}
{% endblock %}